<% include ../partials/header %>

<div class="row">
  <div class="col-md-3">
    <p class="lead">Yelp Camp</p>
    <div class="list-group">
      <a href="#" class="list-group-item list-group-item-action active">Info 1</a>
      <a href="#" class="list-group-item list-group-item-action">Info 2</a>
      <a href="#" class="list-group-item list-group-item-action">Info 3</a>
    </div>
  </div>
  <div class="col-md-9">
    <div class="card mb-3">
      <img src="<%= campground.image %>" alt="<%= campground.name %>" class="card-img-top">
      <div class="card-body">
        <div class="d-flex justify-content-between">
          <h4 class="card-title"><a href="#"><%= campground.name %></a></h4>
          <h4 class="card-title">$9.00/night</h4>
        </div>
        <p class="card-text"><%= campground.description %></p>
      </div>
    </div>
    <div class="card bg-light">
      <div class="d-flex justify-content-between align-items-center m-3">
        <h5>Reviews</h5>
        <a href="/campgrounds/<%= campground._id %>/comments/new" class="btn btn-success">Leave a review</a>
      </div>
      <% campground.comments.map(comment => { %>
      <div class="row">
        <div class="col mx-3">
          <div class="d-flex justify-content-between">
            <strong><%= comment.author %></strong><span class="text-secondary">10 days ago</span>
          </div>
          <p><%= comment.text %></p>
        </div>
      </div>
      <% }) %>
    </div>
  </div>
</div>

<% include ../partials/footer %>
